* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

main.main-content {
    background-color: white;
    padding-top: 7em;
}

div.modal-lc {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content-lc {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

span.close-lc{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close-lc:hover, span.close-lc:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input.input-txtfield, textarea.form-control-lc, select.issuePropDropdown {
    border: 1px solid #fff;
    width: auto;
    /* -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none; */
}

input.input-txtfield {
    width: 60vw;
}

input.input-txtfield:hover, textarea.form-control-lc:hover, select.issuePropDropdown:hover {
    border: 1px solid #ebebebb6;
    background-color: #f1f1f1;
}

select.issuePropDropdown:hover {
    cursor: pointer;
    -moz-appearance: revert; 
    -webkit-appearance: revert;
    appearance: revert;
}

button.edit-comment-btn {
    /* height: fit-content; */
    border: none;
    display: none;
    --bs-btn-padding-y: 0em; 
    --bs-btn-margin-y: 0em; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
}

button.edit-comment-btn:hover {
    background-color: unset;
    color: var(--bs-btn-hover-border-color);
}

.edit-comment-form {
    display: none;
}

.navbar-img {
    width: 12em;
}

.filter-checkbox-cont {
    margin-right: 35em;
}

.navbar {
    z-index: 99;
}

.alert {
    z-index: 100;
    top: 7em;
    right: 5em;
}