* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.main-content {
    padding-top: 7em;
    min-height: 95vh;
}

img.img-landing {
  height: fit-content;
}

div#admin-regForm {
  width: 45vw;
}

div.modal-lc {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content-lc {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

span.close-lc{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close-lc:hover, span.close-lc:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input.input-txtfield, textarea.form-control-lc, select.issuePropDropdown {
    border: 1px solid #fff;
    width: auto;
    /* -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none; */
}

input.input-txtfield {
    width: 60vw;
}

input.input-txtfield:hover, textarea.form-control-lc:hover, select.issuePropDropdown:hover {
    border: 1px solid #ebebebb6;
    background-color: #f1f1f1;
}

select.issuePropDropdown:hover {
    cursor: pointer;
    -moz-appearance: revert; 
    -webkit-appearance: revert;
    appearance: revert;
}

button.edit-comment-btn {
    /* height: fit-content; */
    border: none;
    display: none;
    --bs-btn-padding-y: 0em; 
    --bs-btn-margin-y: 0em; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
}

button.edit-comment-btn:hover {
    background-color: unset;
    color: var(--bs-btn-hover-border-color);
}

.edit-comment-form {
    display: none;
}

.edited-label-lc > span {
  color: rgba(161, 0, 0, 0.836);
}

.navbar-img {
    width: 12em;
}

.input-group .btn-outline-secondary {
    border: none;
}

nav.navbar {
    background-color: #dfedfa;;
    z-index: 99;
}

.alert {
    z-index: 100;
    top: 7em;
    right: 5em;
}

ul.dropdown-menu {
    min-width: max-content;
    padding-right: 22px;
}

.input-group{
    width: auto;
}

.jbt-main-bkg {
    background-color: #22222231;
    background: linear-gradient(rgba(255, 255, 255, 0.9), #dfedfacc), url("/img/christina-wocintechchat-com-rg1y72eKw6o-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* opacity: ; */
}

.tkt-object {
  font-weight: 700;
}

span.cmt-date-and-time-lc {
  color: #6b6b6b
}

a.header-current-user-wholename {
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: none;
}

/* a.header-current-user-wholename:hover {
  text-decoration: underline;
} */



/* .filter-count-type, .filter-count-proj, .filter-count-stat, .filter-count-prio, .filter-count-sev, .filter-count-ass {
    display: none;
} */

/* FOOTER */
  
  .footer-distributed{
    /* background: #F8F9FA; */
    background: #dfedfa;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 10px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #838383;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #263749;
    color: #ffffff;
    font-size: 24px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #838383;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #838383;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color: #838383;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #263749;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }

  .footer-brand-img{
    width: 6em;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }


  /* TOOLTIP */

  .tooltip-lc {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-lc .tooltiptext-lc {
    visibility: hidden;
    width: 200px;
    background-color: #dfedfa;
    color: #242424;
    text-align: left;
    border: 1px solid #bababa;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -37px;
    right: -210px;
  }

  span.tooltiptext-lc {
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    text-align: initial;
  }

  .tooltip-lc:hover {
    cursor: pointer;
    
  }

  .tooltip-lc:hover .tooltiptext-lc {
    visibility: visible;

  }