* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#new-proj-form, #new-tkt-form {
    display: none;
    position: fixed;
    padding: 12px;
    background-color: rgb(231, 231, 231);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}